/* Genral start */
:root {
    --maincolor: #06a6d0;
    --secondcolor: #1f2021;
    --background-color: #ffffffd9;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--secondcolor);
}
ul {
    list-style: none;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/*Extra small devices*/
@media (max-width: 575px) { 
    .container {
        width: 100%;
    }
}
@media (min-width: 576px) { 
    .container {
        width: 560px;
    }
}
/*Small devices*/
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
}
/*Large devices */
@media (min-width: 992px) { 
    .container {
        width: 970px;
    }
}
/*Extra large devices*/
@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
}
/* Genral end */
/* compounant start */
.main-title {
    width: 50%;
    height: 110px;
    margin: 0 auto 70px;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.main-title h2{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--secondcolor);
}
.main-title p {
    max-width: 500px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: var(--secondcolor);
}
.main-title p::before {
    content: "";
    width: 40%;
    height: 1px;
    position: absolute;
    top: calc(50% - 0.5px);
    left: 30%;
    background-color: var(--secondcolor);
}
.main-title p::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #dedede;
    border: #1f2021 solid 1px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
}
@media (max-width: 575px) { 
    .main-title {
        width: 80%;
    }
}
/* compounant end */
/* Header start */
header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 50;
}
header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
}
header .container::after {
    content: "";
    height: 1px;
    width: calc(100% - 30px);
    background-color: #636364;
    position: absolute;
    bottom: 0;
    left: 15px;
}
header .container nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .container nav .select-nav {
    display: none;
    padding: 5px;
    color: #dad6d7;
    background-color: rgba(0, 0, 0, 0.315);
    border: 1px solid #b0acaf;
    border-radius: 25%;
}
header .container nav .select-nav:hover + ul {
    visibility: visible;
}
header .container nav ul {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container nav ul li {
    padding: 20px 10px;
    color: #d2d2d3;
    transition: 0.2s;
    display: flex;
    
}
header .container nav ul .active,
header .container nav ul li:hover {
    color: var(--maincolor);
    position: relative;
    border-bottom: 1px solid var(--maincolor);
    z-index: 2;
}
header .container nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
header .container nav .search {
    color: #b0acaf;
    border-left: 1px solid #dad6d7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 0 6px 20px;
    margin-left: 65px;
}
header .container .logo img {
    height: 40px;
    color: #d4d0d2;
}
/*Small devices*/
@media (max-width: 767px) { 
    header .container nav {
        flex-direction: row-reverse;
    }
    header .container nav .select-nav{
        display: block;
        margin: 0 10px 0 30px;
    }
    header .container nav ul {
        visibility: hidden;
        position: absolute;
        width: 100%;
        top: 59px;
        left: 0;
        flex-direction: column;
    }
    header .container nav ul:hover {
        visibility: visible;
    }
    header .container nav ul li {
        padding: 20px 0px 20px 10px;
        width: calc(100% - 30px);
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
    }
    header .container nav ul li:hover {
        background-color: #ffffffd9;
        padding-left: 20px;
    }
}
/* Header end */
/* background start */
.background {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
} 
.background .container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, auto);
    column-gap: 2.7%;
}
.background .container div {
    background-color: #353235;
}
/* background end */
/* landing start */
.landing {
    width: 100%;
    height: 100vh;
    background-color: blue;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    position: relative;
}
.landing .overlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.landing .side-content {
    width: 60%;
    height: 40%;
    background-color: #06a8d0c9;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row-reverse;
}
.landing .side-content .text {
    width: 85%;
    height: 100%;
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.landing .side-content .text h1 {
    margin: 0;
    color: white;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 35px;
}
.landing .side-content .text p {
    color: white;
    font-size: 11px;
    font-weight: 300;
    line-height: 25px;
}
.landing .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffffc7;
    font-size: 30px;
}
.landing .slide.right {
    right: 1%;
}
.landing .slide.left {
    left: 1%;
}
.landing .slide-bar {
    width: 70px;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%;
    display: flex;
    justify-content: space-between;
}
.landing .slide-bar li {
    width: 15px;
    height: 15px;
    border: #ffffffc7 solid 1px;
    border-radius: 50%;
}
.landing .slide-bar .selected {
    background-color: var(--maincolor);
    border-color: var(--maincolor);
}
@media (max-width: 767px) {
    .landing .side-content {
        width: 80%;
    }
    .landing .side-content .text {
        width: 85%;
    }
    .landing .slide{
        display: none;
    }
}
@media (max-width: 575px) {
    .landing .side-content {
        width: 100%;
    }
    .landing .side-content .text {
        width: 95%;
    }
}
@media (max-height: 575px) {
    .landing .side-content {
        height: 55%;
    }
}
@media (min-height: 992px) {
    .landing .side-content {
        height: 25%;
    }
}
/* landing end */
/* services start */
.services {
    background-color: var(--background-color);
    padding: 70px 0;
}
.services .container .services-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 70px;
}
.services .container .services-grid .service {
    display: flex;
    justify-content: space-between;
}
.services .container .services-grid .service i {
    margin: 0 50px 50px 0;
    font-size: 40px;
    color: var(--maincolor);
}
.services .container .services-grid .service .service-text {
}
.services .container .services-grid .service .service-text h3 {
    margin: 0 0 15px;
    margin: var(--secondcolor);
    font-size: 20px;
    font-weight: 400;
    color: var(--maincolor);
}
.services .container .services-grid .service .service-text p {
    color: var(--secondcolor);
    font-size: 12px;
    line-height: 1.7;
}
@media (max-width: 767px) {
    .services .container .services-grid {
        grid-template-columns: 1fr;
    }
    .services .container .services-grid .service {
        flex-direction: column;
        align-items: center;
    }
    .services .container .services-grid .service i {
        margin-right: 0;
    }
}
/* services end */